h1, h2, h3, h4, h5, h6, br, hr, header, section, aside, footer, nav, ul, li, a, p, body, div {
    margin: 0;
    padding: 0;
}
body {

}
a{
    outline: 0;
}
header {
    height: 48px;
    background-color: #2FB569;

}
header h2 {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
header h2 a {
    text-decoration: none;
    color:black;
    cursor: pointer;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    background-color: #c2efd6;
    width: 100%;
}




